header,main,footer{
   background-color: rgba(237, 210, 255, 0.473);
  max-width: 1000px;/* largura maxima-responsivo*/
   
  margin:auto ; /* centraliza */
color: rgb(107, 88, 126);
}
div#capa{ 
    background-color: beige;/* cor de fundo */
    width: 100%;/*faz uma div ocupar 100% da largura da header*/
    height: 300px ;/* altura*/
    
    background-image:url('capa\ 2.jpg') ; /*coloca a imagem de fundo na div*/
    background-size: cover; /*ajusta o tamanho da imagem*/
    background-repeat: no-repeat;/* nao repetir a imagem*/
    background-position: center;
    color: rgb(255, 255, 255);
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  /*muda a fonte */
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
} 
#capa>p{
  position: absolute;
  top: 170px;
  color: rgb(170, 162, 218);
}
#capa>h1{ 
 text-shadow: 3px 3px 3px black; 
}

div#sociais
{

width: 70px;

 display: flex;
 justify-content: space-between;
}


img.sociais{     
  width: 30px;
  filter: invert(1) opacity(0.6) drop-shadow(0px 0px 0px rgb(49, 62, 255)); /*Aplicafiltros a imagem*/
  }

img.sociais:hover{
filter: invert(1) opacity(1);
}
footer{
background-color: rgb(165, 149, 182);
height: 60px;
color: rgb(75, 52, 97);
display: flex; /*torna os elementos flexiveis*/

justify-content: center; /*centro horizontal*/
align-items: center; /*centro vertical*/

} 

img.foto{

width: 200px;
}
div.div{
  display: flex;
  margin: 4px;
  
 }